<app-nav-bar></app-nav-bar>

<div class="container mt-5 card">
  <div class="card-header">
    <h4>Competitions</h4>
  </div>
  <div class="card-body mt-5">
    <div class="table-responsive">
      <table id="example" class="table" (change)="refresh()" >
        <thead>
        <tr>
          <th>num</th>
          <th>first name</th>
          <th>last name</th>
          <th>email</th>
          <th>role</th>
          <th>activated</th>
          <th> </th>
        </tr>
        </thead>
        <tbody style="background-color: #0C1427">
        <tr *ngFor="let user of users">
          <td>{{user.num}}</td>
          <td>{{user.name}}</td>
          <td>{{user.familyName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>{{user.active}}</td>
          <td>
            <button [disabled]="user.active" (click)="updateState(user.id)" class="btn btn-success">
              <i>active</i>
            </button>
          </td>


        </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>

    </div>
  </div>
</div>

