<app-nav-bar></app-nav-bar>

<div class="container mt-5 card">
  <div class="card-header">
    <h4>Competitions</h4>
  </div>
  <div class="card-body mt-5">
<!--
    <div class="d-flex justify-content-between mb-3">
      <div>
        <select class="form-select" id="statusFilter" [(ngModel)]="selectedStatus"  (change)="onStatusChange()">
          <option selected disabled>Filter by Status:</option>
          <option value="all">All</option>
          <option value="open">Open</option>
          <option value="close">Close</option>
          <option value="active">Active</option>
        </select>
      </div>


      <button type="button" class="btn btn-primary float-start" (click)="resetForm()" data-bs-toggle="modal" data-bs-target="#competition-modal">
        Create Competition
      </button>
    </div>
-->

    <div class="table-responsive">
      <table id="example" class="table" >
        <thead>
        <tr>
          <th>num</th>
          <th>first name</th>
          <th>last name</th>
          <th>email</th>
          <th>role</th>
          <th>activated</th>
          <th> </th>
          <th> </th>
        </tr>
        </thead>
        <tbody style="background-color: #0C1427">
        <tr *ngFor="let user of users">
          <td>{{user.num}}</td>
          <td>{{user.name}}</td>
          <td>{{user.familyName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>{{user.active}}</td>
          <td>
            <button  (click)="updateState(user.id)" class="btn btn-outline-danger">
              <i>active</i>
            </button>
          </td>

        </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>

    </div>
  </div>
</div>

