<div class="container mt-5">
  <div class="d-flex justify-content-end mb-3">
    <button type="button" class="btn btn-primary float-start" data-bs-toggle="modal" data-bs-target="#competition-modal">
    Create Competition
    </button>
  </div>


  <table id="example" class="table table-dark" >
    <thead>
    <tr>
      <th>Code</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Location</th>
      <th>Number Of Participants</th>
      <th>Status</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody style="background-color: #0C1427">
    <tr *ngFor="let competition of competitions | async">
      <td>{{competition.code}}</td>
      <td>{{competition.date}}</td>
      <td>{{competition.startTime}}</td>
      <td>{{competition.endTime}}</td>
      <td>{{competition.location}}</td>
      <td>{{competition.numberOfParticipants}}</td>
      <td>{{competition.status}}</td>
      <td>{{competition.amount}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th>Code</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Location</th>
      <th>Number Of Participants</th>
      <th>Status</th>
      <th>Amount</th>
    </tr>
    </tfoot>
  </table>
</div>
<app-competition-modal (competitionAdded)="refreshTable()"></app-competition-modal>
